<div class="auth content-wrapper">
    <div #boxRef class="box">
        <div class="background" data-flip-id="background"></div>

        <h1>
            {{ isInLoginView ? 'ورود' : 'ثبت‌نام' }}
        </h1>

        <app-login-form *ngIf="isInLoginView"></app-login-form>
        <app-register-form *ngIf="!isInLoginView" [isChangingView]="isChangingView"></app-register-form>

        <p data-flip-id="policy">
            {{ isInLoginView ? 'ورود' : 'ثبت‌نام' }}
            شما به معنای پذیرش
            <a routerLink="#" class="colorful">شرایط دیجی‌کالا</a>
            و
            <a routerLink="#" class="colorful">قوانین حریم‌خصوصی</a>
            است.
        </p>

        <p data-flip-id="viewChange">
            <ng-container *ngIf="isInLoginView">
                حساب کاربری ندارید؟
                <button class="link" (click)="toggleView()">ثبت‌نام کنید!</button>
            </ng-container>

            <ng-container *ngIf="!isInLoginView">
                قبلاً حساب کاربری ساخته‌اید؟
                <button class="link" (click)="toggleView()">وارد شوید!</button>
            </ng-container>
        </p>
    </div>
</div>
