nav {
    ul {
        --spacing: 1rem;

        display: flex;
        align-items: center;
        gap: var(--spacing);

        li {
            color: var(--color-fade);

            display: flex;
            align-items: center;
            gap: var(--spacing);

            font-size: 1.4rem;

            &:not(:last-of-type)::after {
                content: "/";
            }

            &:hover {
                color: inherit;
            }
        }
    }
}
