<footer class="content-wrapper">
    <div class="top-row">
        <div class="logo-and-phone">
            <img src="assets/logos/digikala-fa.svg" alt="" />

            <div class="phone">
                تلفن پشتیبانی 61930000 - 021
                <app-divider></app-divider>
                7 روز هفته، 24 ساعته پاسخگوی شما هستیم
            </div>
        </div>

        <button (click)="backToTopButtonClickHandler()">
            بازگشت به بالا
            <i class="far fa-angle-up"></i>
        </button>
    </div>

    <ul class="features">
        <li>
            <img src="assets/images/features/express-delivery.svg" alt="" />
            امکان تحویل اکسپرس
        </li>
        <li>
            <img src="assets/images/features/cash-on-delivery.svg" alt="" />
            امکان پرداخت در محل
        </li>
        <li>
            <img src="assets/images/features/support.svg" alt="" />
            7 روز هفته، 24 ساعته
        </li>
        <li>
            <img src="assets/images/features/days-return.svg" alt="" />
            هفت روز ضمانت بازگشت کالا
        </li>
        <li>
            <img src="assets/images/features/original-products.svg" alt="" />
            ضمانت اصل بودن کالا
        </li>
    </ul>

    <div class="links">
        <div class="column">
            <div class="bold">با دیجی‌کالا</div>
            <ul class="items">
                <li>اتاق خبر دیجی‌کالا</li>
                <li>فروش در دیجی‌کالا</li>
                <li>فرصت‌های شغلی</li>
                <li>تماس با دیجی‌کالا</li>
                <li>درباره دیجی‌کالا</li>
            </ul>
        </div>

        <div class="column">
            <div class="bold">خدمات مشتریان</div>
            <ul class="items">
                <li>پاسخ به پرسش‌های متداول</li>
                <li>رویه‌های بازگرداندن کالا</li>
                <li>شرایط استفاده</li>
                <li>حریم خصوصی</li>
                <li>گزارش باگ</li>
            </ul>
        </div>

        <div class="column">
            <div class="bold">راهنمای خرید از دیجی‌کالا</div>
            <ul class="items">
                <li>نحوه ثبت سفارش</li>
                <li>رویه ارسال سفارش</li>
                <li>شیوه‌های پرداخت</li>
            </ul>
        </div>

        <div class="column">
            <div class="bold">همراه ما باشید!</div>

            <ul class="social-medias">
                <li>
                    <a href="https://t.me/code_star/" title="Telegram" target="_blank">
                        <icon-telegram></icon-telegram>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/code-star/" title="LinkedIn" target="_blank">
                        <icon-linkedin></icon-linkedin>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/code_star.ir/" title="Instagram" target="_blank">
                        <icon-instagram></icon-instagram>
                    </a>
                </li>
                <li>
                    <a href="https://www.aparat.com/Code_star/" title="Aparat" target="_blank">
                        <icon-aparat></icon-aparat>
                    </a>
                </li>
            </ul>

            <div class="bold">با ثبت ایمیل، از جدیدترین تخفیف‌ها باخبر شوید</div>

            <form>
                <div class="input-box">
                    <input type="email" placeholder="ایمیل شما" />
                </div>
                <button>ثبت</button>
            </form>
        </div>
    </div>

    <app-divider variation="horizontal"></app-divider>

    <p class="copyright">
        برای استفاده از مطالب دیجی‌کالا، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام حقوق اين وب‌سايت نیز برای شرکت
        نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) است.
    </p>
</footer>
