<header>
    <img class="banner" src="assets/images/banners/banner01.jpg" alt="خرید لوازم منزل یکجا و به‌صرفه" />

    <div class="toolbar content-wrapper">
        <a routerLink="/" class="logo" aria-label="دیجی‌کالا">
            <img src="assets/logos/digikala-en.svg" alt="" />
        </a>

        <app-search-box></app-search-box>

        <div class="buttons">
            <ng-container *ngIf="authService.cachedIsLoggedIn; else notLoggedInTemplate">
                <app-profile-button></app-profile-button>

                <app-divider></app-divider>

                <a routerLink="/cart" class="button">
                    <i class="far fa-cart-shopping"></i>
                </a>
            </ng-container>

            <ng-template #notLoggedInTemplate>
                <a routerLink="/auth" class="button">
                    <i class="far fa-sign-in"></i>
                    ورود | ثبت‌نام
                </a>
            </ng-template>
        </div>
    </div>

    <app-mega-nav></app-mega-nav>
</header>
