i {
    --size: calc(100% - 2 * var(--component-padding, var(--divider-padding, 0)));

    background-color: var(--color-gray-92);

    display: block;

    margin: auto;

    &.vertical {
        width: 0.1rem;
        height: var(--size);
    }

    &.horizontal {
        width: var(--size);
        height: 0.1rem;
    }
}
