.filters {
    display: flex;
    flex-direction: column;

    padding: 2rem;

    border: var(--border);
    border-radius: var(--border-radius);

    .title {
        font-size: 1.8rem;
        font-weight: 700;
    }

    button {
        width: 100%;
    }
}
