.wrapper {
    --offset: 2rem;

    color: var(--color, var(--color--body-foreground));

    position: fixed;
    inset-block-end: var(--offset);
    inset-inline-start: var(--offset);

    display: flex;
    align-items: center;
    gap: 2rem;

    min-inline-size: 30rem;

    padding: 1rem;

    border: 0.1rem solid currentColor;
    border-inline-start-width: 0.3rem;

    button {
        margin-inline-start: auto;
    }
}
