<ul>
    <li *ngFor="let game of gameService.games">
        <a [routerLink]="'/game/' + game.id" target="_blank">
            <img
                [src]="'https://images.igdb.com/igdb/image/upload/t_cover_big/' + game.cover?.id + '.jpg'"
                alt="کاور بازی"
            />

            <div class="title" [title]="game.name">{{ game.name }}</div>

            <div class="status">
                <i class="far fa-box-open-full"></i>

                موجود در انبار دیجی‌کالا

                <div *ngIf="game.rating" class="rating">
                    {{ game.rating }}
                    <i class="fas fa-star"></i>
                </div>
            </div>

            <ul class="platforms">
                <ng-container *ngFor="let platform of game.platforms">
                    <li *ngIf="platform | includes: 'playstation'">
                        <i class="fab fa-playstation" [title]="platform"></i>
                    </li>
                    <li *ngIf="platform | includes: 'xbox'">
                        <i class="fab fa-xbox" [title]="platform"></i>
                    </li>
                    <li *ngIf="platform | includes: 'windows'">
                        <i class="fab fa-windows" [title]="platform"></i>
                    </li>
                    <li *ngIf="platform | includes: 'mac'">
                        <i class="fab fa-apple" [title]="platform"></i>
                    </li>
                    <li *ngIf="platform | includes: 'linux'">
                        <i class="fab fa-redhat" [title]="platform"></i>
                    </li>
                    <li *ngIf="platform | includes: 'web'">
                        <i class="fab fa-internet-explorer" [title]="platform"></i>
                    </li>
                </ng-container>
            </ul>
        </a>
    </li>
</ul>
