:root {
    --color-gray-98: hsl(0deg 0% 98%);
    --color-gray-95: hsl(0deg 0% 95%);
    --color-gray-92: hsl(0deg 0% 92%);
    --color-gray-90: hsl(0deg 0% 90%);
    --color-gray-85: hsl(0deg 0% 85%);
    --color-gray-80: hsl(0deg 0% 80%);
    --color-gray-70: hsl(0deg 0% 70%);
    --color-gray-50: hsl(0deg 0% 50%);
    --color-gray-40: hsl(0deg 0% 40%);
    --color-gray-30: hsl(0deg 0% 30%);
    --color-gray-20: hsl(0deg 0% 20%);
    --color-gray-10: hsl(0deg 0% 10%);

    --color-primary: hsl(353deg 84% 58%);
    --color-primary-darker: hsl(353deg 84% 50%);
    --color-primary-opposite: var(--color-gray-98);

    --color-info: hsl(200deg 84% 58%);
    --color-info-darker: hsl(200deg 84% 50%);
    --color-info-opposite: var(--color-gray-98);

    --color-success: hsl(130deg 60% 58%);
    --color-success-darker: hsl(130deg 60% 50%);
    --color-success-opposite: var(--color-gray-98);

    --color-warning: hsl(30deg 90% 58%);
    --color-warning-darker: hsl(30deg 90% 50%);
    --color-warning-opposite: var(--color-gray-98);

    --color-danger: hsl(0deg 100% 58%);
    --color-danger-darker: hsl(0deg 100% 50%);
    --color-danger-opposite: var(--color-gray-98);

    --color-link: var(--color-info);

    --color-fade: var(--color-gray-50);
    --color-fader: var(--color-gray-70);

    --color-default-background: var(--color-gray-98);
    --color-default-foreground: var(--color-gray-10);

    --color-body-background: var(--color-default-background);
    --color-body-foreground: var(--color-default-foreground);

    --color-spinner-background: hsl(0deg 0% 98% / 80%);
    --color-spinner-foreground: var(--color-primary);

    --color-box-shadow-subtle: hsl(0deg 90% 10% / 12%);
    --box-shadow-subtle: 0 0.2rem 1rem 0 var(--color-box-shadow-subtle);

    --minimum-inline-padding: 4rem;

    --padding-form-element: 1rem 2rem;

    --border: 0.1rem solid var(--color-gray-85);
    --border-radius: 0.5rem;

    --animation-duration-fast: 0.2s;
    --animation-duration-normal: 0.5s;
    --animation-duration-slow: 1s;
}

*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

    font-family: Vazirmatn, sans-serif;
    font-size: 62.5%;
}

body {
    background-color: var(--color-body-background);
    color: var(--color-body-foreground);

    font-size: 1.6rem;

    popper-content {
        /* stylelint-disable selector-class-pattern */
        .ngxp__container {
            background-color: var(--color-body-background);
            color: var(--color-body-foreground);
            box-shadow: 0 3px 5px -1px rgb(0 0 0 / 10%), 0 5px 8px 0 rgb(0 0 0 / 4%), 0 1px 14px 0 rgb(0 0 0 / 2%);

            z-index: 1;

            padding: 0;

            border: 0;

            > .ngxp__arrow {
                &::before {
                    background-color: var(--color-body-background);
                }
            }
        }

        &.no-arrow {
            .ngxp__container > .ngxp__arrow {
                display: none;
            }
        }
        /* stylelint-enable selector-class-pattern */
    }
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
    font-family: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;

    display: block;

    text-decoration: none;

    &.colorful {
        color: var(--color-link);
    }
}

button,
.button {
    background-color: transparent;
    color: inherit;

    border: none;

    font: inherit;

    text-align: start;

    cursor: pointer;

    &:not(.reset, .link) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        width: fit-content;

        padding: var(--padding-form-element);

        border-radius: var(--border-radius);

        text-align: center;

        &:hover {
            background-color: var(--color-gray-95);
        }
    }

    &.link {
        color: var(--color-link);
    }

    &.primary {
        background-color: var(--color-primary);
        color: var(--color-primary-opposite);

        &:hover {
            background-color: var(--color-primary-darker);
        }
    }
}

img {
    display: block;
}

svg {
    fill: currentcolor;

    display: block;

    width: 1em;
    height: 1em;
}

.content-wrapper {
    --full-width: 160rem;
    --full-width-padding-inline: max((100% - var(--full-width)) / 2, var(--minimum-inline-padding));

    padding-inline: var(--full-width-padding-inline);
}

.input-box {
    background-color: var(--color-gray-95);

    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 1rem 2rem;

    border-radius: var(--border-radius);

    cursor: text;

    input {
        background-color: transparent;

        border: none;

        &:focus {
            outline: none;
        }
    }
}

form {
    label {
        input {
            background-color: transparent;

            padding: var(--padding-form-element);

            border: var(--border);
            border-radius: var(--border-radius);

            &:focus {
                outline: none;
            }
        }
    }
}

.bold {
    font-weight: 700;
}

.fade {
    color: var(--color-fade);
}
